<main class="container-fluid">
    <section class="mb-5 base-container">
        <div class="row shadow-sm text-center text-md-start mt-2">
            <div class="col-md-6 text-md-start">
                <h4 class="text-primary">Profile</h4>
            </div>
        </div>
        <div id="common-from" class="row scroll-nav">
            <div class="col-md-12 mt-3 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Organisation Registration</h4>
                        <!-- <p> </p> -->
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="row g-2">
                                        <div class="col-4">
                                            <mdb-form-control>
                                                <input mdbInput type="text" id="form1" class="form-control" required />
                                                <label mdbLabel class="form-label" for="form1">First name</label>
                                            </mdb-form-control>
                                            <!-- <div class="form-group mb-4 floating-label">
                                                <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                                <input type="text" class="form-control" placeholder=" " value="">
                                                <label for="">RegNo</label>
                                            </div> -->
                                        </div>
                                        <div class="col-8">
                                            <div class="form-group mb-4 floating-label">
                                                <input type="text" class="form-control" placeholder=" " value="">
                                                <label for="">Organisation Name.</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Organisation Contact No</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">HelpLine No 1</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">HelpLine No 2</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Organisation Email ID</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Email Id 1</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Email Id 1</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">GSTIN</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">PAN</label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Website Url</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Address</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">State</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">City</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Zip Code</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Organisation Logo</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Owner First Name</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Owner Middle Name</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Owner Last Name</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Owner Last MobileNo</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mb-4 floating-label">
                                        <a class="clera-filed" title="Clear All"><i class="fal fa-times me-2"></i></a>
                                        <input type="text" class="form-control" placeholder=" " value="">
                                        <label for="">Remarks</label>
                                    </div>
                                </div>
                                <div class="col-md-12 mb-4 text-center">
                                    <a href="#" class="btn btn-sm me-2 btn-primary">Search</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>